<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Trails Search</title>
  <link th:replace="~{/fragments/header :: bootstrap-css}"/>
  <link th:replace="~{/fragments/header :: mainstyles}"/>
  <link rel="stylesheet" th:href="@{/stylesheets/searchstyles.css}" />
</head>
<body>

<div class="main-container">
  <header th:replace="~{/fragments/header :: navbar}"></header>
  <div class="page-container">

    <div class="search-container">
      <form th:action="@{/search}" method="get" class="search-form">
        <input type="text" placeholder="Search" class="search-input" name="query" th:value="${searchQuery}" />
        <!-- Filter Button -->
        <button type="button" class="filter-button" onclick="toggleDropdown()">
          <img th:src="@{/images/226383.png}" alt="Filter" class="filterimage">
        </button>
      </form>
      <!-- Drop Down Menu -->
      <div class="dropdown-menu" style="display:none;">

          <select name="city" onchange="location = this.value;">
            <option value="" selected disabled>Choose a City</option>
            <option th:value="@{/search(city='Cardiff')}">Cardiff</option>
            <option th:value="@{/search(city='Bristol')}">Bristol</option>
            <option th:value="@{/search(city='Penarth')}">Penarth</option>
            <option th:value="@{/search(city='London')}">London</option>
          </select>


        <!-- Add more filter options as needed -->

        <select name="sort" onchange="handleSortChange(this.value)">
          <option value="" selected disabled>Sort by</option>
          <option th:value="@{/search(sort='asc')}">Ascending</option>
          <option th:value="@{/search(sort='desc')}">Descending</option>
          <option th:value="@{/search(sort='lastModified')}">Last Modified</option>
          <option th:value="@{/search(sort='distance')}">Distance</option>
        </select>

      </div>
    </div>


    <script>
      function toggleDropdown() {
        const dropdownMenu = document.querySelector('.dropdown-menu');
        dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
      }
    </script>



  </div>
</body>
</html>
