<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <link rel="stylesheet" href="/stylesheets/leaderboardstyles.css">
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}" defer></script>
    <title>VZTA Trails</title>
</head>

<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <h1 class="mt-4">Leaderboard</h1>

        <div class="filters form-row align-items-center mb-3">
            <div class="col-md-6">
                <label for="searchbar" class="sr-only">Search user:</label>
                <input type="text" class="form-control" id="searchbar" onkeyup="filterTable()"
                       placeholder="Username...">
            </div>
            <div class="col-md-3">
                <label for="sort" class="sr-only">Sort by:</label>
                <!-- Improved dropdown styling -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sortDropdown">
                        <a class="dropdown-item" href="#" onclick="sortTable('position')">Position</a>
                        <a class="dropdown-item" href="#" onclick="sortTable('username')">Username</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table" id="leaderboardTable">
            <thead>
            <tr>
                <th>Position</th>
                <th>Username</th>
                <th>Checkpoints</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${leaderboard}">
                <td th:text="${user.position}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.count}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/scripts/leaderboardScripts.js"></script>
<script src="/scripts/dark-mode.js"></script>

<!-- Bootstrap JS dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>