<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}" defer></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profilecheckpointstyles.css" />
    <title>VZTA Trails</title>
</head>
<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <!-- Page content goes here -->
        <h1 class="mt-4">Profile</h1>

        <div class="profile-info">
            <p class="mb-1" th:text="'Username: ' + ${profile.userName}"></p>
            <p class="mb-1" th:text="'Email: ' + ${profile.email}"></p>
            <p class="mb-1" th:text="'Address: ' + ${profile.address}"></p>
            <p class="mb-1" th:text="'Address 2: ' + ${profile.address2}"></p>
            <p class="mb-1" th:text="'City: ' + ${profile.city}"></p>
            <p class="mb-1" th:text="'Zip Code: ' + ${profile.zipCode}"></p>
        </div>

        <h2 class="mt-4">Started Trails</h2>

        <ul class="list-group trail-container" th:if="${not #lists.isEmpty(startedTrails)}">
            <li th:each="trail : ${startedTrails}" class="list-group-item">

                <div class="trail-info">
                    <h5 th:text="'Trail Name: ' + ${trail.name}"></h5>

                    <div class="progress mb-2">
                        <div class="progress-bar bg-success" role="progressbar" th:style="'width: ' + ${percentages[trail.name]} + '%'">
                            <span th:text="'Progress: ' + ${#lists.size(checkpointsByTrail[trail.name])} + '/' + ${#lists.size(trail.checkpoints)}"></span>
                        </div>
                    </div>

                    <ul class="list-group checkpoints-container">
                        <li th:each="checkpoint : ${trail.checkpoints}" class="list-group-item">
                            <div th:class="${#lists.contains(checkpointsByTrail[trail.name], checkpoint)} ? 'checkpoint-card collected' : 'checkpoint-card not-collected'">
                                <p th:text="'Checkpoint Name: ' + ${checkpoint.name}"></p>
                                <p th:text="'Collected: ' + (${#lists.contains(checkpointsByTrail[trail.name], checkpoint)} ? 'Yes' : 'No')"></p>
                            </div>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
        <p class="mt-3" th:if="${#lists.isEmpty(startedTrails)}">No started trails</p>

    </div>
</div>


</body>
</html>
