<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="/scripts/qrScanner.js"></script>
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}"></script>

    <title>VZTA Trails</title>
    <!-- JSQR Library -->
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>

</head>
<body>
<header th:replace="~{/fragments/header :: navbar}"></header>
<div class="page-container text-center d-flex flex-column align-items-center justify-content-center h-100"> <!-- Centering the content and making it full height -->
    <!-- QR Code Scanner Interface -->
    <div class="jumbotron mt-4 p-4 rounded"> <!-- Added Bootstrap Jumbotron for better styling -->
        <h3 class="mb-4">Scan a QR code to add a checkpoint</h3>
        <div class="qr-scanner">
            <video id="qr-video" width="400" height="300" class="rounded mb-3"></video> <!-- Adjusted width and added rounded class -->
            <canvas id="qr-canvas" style="display: none;"></canvas>
            <br>
            <button id="start-scan" class="btn btn-primary mt-auto">Start Scan</button> <!-- Moved button to the bottom with mt-auto class -->
            <p id="qr-result" class="mt-3 lead">QR Code Result: None</p>
        </div>
    </div>
</div>


</body>
</html>